.shim {
  height: 30px;
}
.child {
  background-color: #A5D3EA;
  width: 25%;
  margin-right: 10px;
  display: inline-block;
}
#group7 .child,
#group9 .child {
  background-color: #089B8B;
}
#group14 .child {
  background-color: pink;
}
#group14 .child .inner {
  border-color: red;
}
.inner {
  border: 3px solid #2CA5DC;
}

/*Responsive Test*/
@media (max-width: 600px) {
  #group7 .shim,
  #group9 .shim {
    height: 80px;
  }
}

.column {
  float: left;
  width: 50%;
}
.column-border {
  border: 1px solid gray;
}
.column-inner {
  padding: 0;
}

.container:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.container { display: inline-block; }
/* start commented backslash hack \*/
* html .container { height: 1%; }
.container { display: block; }

/*This is going to be for stacking, advanced respond test*/
#item20 .shim {
  height: 60px;
}
#item21 {
  height: 40px;
}
#item22 {
  height: 20px;
}
@media (max-width: 600px) {
  #group9 .child {
    width: 100%;
    display: block;
    margin: 20px 0;
  }
}
